/* Estilos generales */ 
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 50px;
    text-align: center;
}

h1 {
    color: #5c2e91;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 30px;
}

/* Estilo de los botones */
button {
    background-color: #5c2e91;
    color: #fff;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #4a1f6d;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

button:focus {
    outline: none;
    border: 2px solid #5c2e91;
}

/* Estilo de la sección de búsqueda */
.search {
    display: none; /* Oculto por defecto */
    margin-top: 20px;
    animation: fadeIn 0.5s ease-in-out;
}

#busqueda {
    padding: 12px;
    font-size: 16px;
    width: 280px;
    border-radius: 8px;
    border: 2px solid #ccc;
    margin-right: 10px;
    transition: border 0.3s ease;
}

#busqueda:focus {
    border-color: #5c2e91;
    outline: none;
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Estilo de la tabla */
table {
    width:500px; /* Acomoda la tabla para que ocupe el 50% del ancho de la página */
    margin-top: 40px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto; /* Centra la tabla horizontalmente */
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    text-align: left;
    font-size: 12px;
}

table th {
    background-color: #5c2e91;
    color: #fff;
    font-size: 0.6em; /*el problema de la tabla gigante*/
    letter-spacing: 1px;
}

table td {
    background-color: #f9f9f9;
}

table tr:nth-child(odd) td {
    background-color: #f3f3f3;
}

table tr:hover td {
    background-color: #f0e6f7;
    cursor: pointer;
}

table td {
    transition: background-color 0.3s ease;
}

/* Estilo de los resultados de búsqueda */
#resultados {
    margin-top: 30px;
    font-size: 1.2em;
}

#resultados p {
    color: #e74c3c;
    font-weight: bold;
}

/* Estilo para la responsividad */
@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    button {
        font-size: 14px;
        padding: 10px 20px;
    }

    #busqueda {
        width: 90%;
        margin-bottom: 15px;
    }

    table {
        width: 50%; /* En pantallas pequeñas, la tabla ocupará el 100% del ancho */
    }

    table th, table td {
        font-size: 14px;
        padding: 12px;
    }
}
