body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  }




.a{
    background-color: rgb(221, 227, 224);
}




/*buscar paciente de aqui empiza*/
.search > input {
  flex-grow: 1;       /*bucar pasiente*/
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
 
.search > input:focus {
  outline: none;      /*buscar boton*/
}

.search > button {
  padding: 0.8rem 2rem;   /*diseño de botonj*/
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  background: #cccccc;
}



.espacios-letra input {
flex-grow: 11;       /*bucar pasiente*/
border: 10;
padding: 0.5rem 1rem;
font-size: 1rem;
}

#formularioNota {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}





















  





